


.container-fluid{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}


.loginContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 4, 7);
}

.loginTitle{
    position: absolute;
    top: 15%;
    left:49%;
    transform: translate(-50%,-50%);
}