.adminNavbar {
	margin: 27px auto 0;
	position: relative;
	width: 1100px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
.adminNavbar a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.adminNavbar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 150px;
}
a:nth-child(2) {
	width: 150px;
}
a:nth-child(3) {
	width: 150px;
}
a:nth-child(4) {
	width: 150px;
}
a:nth-child(5) {
	width: 150px;
}
a:nth-child(6) {
	width: 150px;
}
a:nth-child(7) {
	width: 150px;
}

/* 
.adminNavbar .start-home, a:nth-child(1):hover~.animation {
	width: 150px;
	left: 0;
	background-color: #1abc9c;
}
.adminNavbar .start-about, a:nth-child(2):hover~.animation {
	width: 150px;
	left: 150px;
	background-color: #e74c3c;
}
.adminNavbar .start-blog, a:nth-child(3):hover~.animation {
	width: 150px;
	left: 300px;
	background-color: #3498db;
}
.adminNavbar .start-portefolio, a:nth-child(4):hover~.animation {
	width: 150px;
	left: 450px;
	background-color: #9b59b6;
}
.adminNavbar .start-contact, a:nth-child(5):hover~.animation {
	width: 150px;
	left: 600px;
	background-color: #e67e22;
}
.adminNavbar .start-mail, a:nth-child(6):hover~.animation {
	width: 150px;
	left: 600px;
	background-color: #6cc030;
}
.adminNavbar .start-logout, a:nth-child(7):hover~.animation {
	width: 150px;
	left: 600px;
	background-color: #2ba09a;
} */

/* body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
} */
/* h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
} */

/* p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
} */

span {
    color: #2BD6B4;
}


 .registerform{
	background-color: #1abc9c;
	width: 500px;
	padding: 3rem;
	border-radius: 1rem;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 6rem;
}



.farmertable{
	background-color: #2BD6B4;
	width: 1000px;
	padding: 4rem;
	border-radius: 1rem;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.deliveryStatementAdmin{
	background-color: #2BD6B4;
	width: 1000px;
	padding: 4rem;
	border-radius: 1rem;
	position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.deliveryRecord{
	background-color: #2BD6B4;
	width: 1000px;
	padding: 4rem;
	border-radius: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inventory{
	background-color: #5085ba;
	width: 1000px;
	padding: 4rem;
	border-radius: 1rem;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.adminorderCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	margin-top: 55rem;

	
}

.btnEditDelete{
	display: flex;
	gap: 2rem;
	height: 3rem;
}
.admincard {
    width: 20rem;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	
  }
  
  .admincard-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .admincard-body {
    text-align: center;
  }
  
  .admincard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .admincard-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

.mailComponent{
	
	width: 90vw;
	margin-top: 4rem;
	position: absolute;
	top: 30%;
	left: 80%;
	transform: translate(-50%,-50%);
}

  




