@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root{
    --color-newprimary: #7380ec;
    --color-newdanger: #ff7782;
    --color-newsuccess: #41f1b6;
    --color-newwarning: #ffbb55;
    --color-newwhite: #fff;
    --color-newinfo-dark: #7d8da1;
    --color-newinfo-light: #dceleb;
    --color-newdark: #363949;
    --color-newlight: rgba(132, 139, 200, 0.18);
    --color-newprimary-variant: #111e88;
    --color-newdark-variant: #677483;
    --color-newbackground: #1b1b11;

    --card-border-radius: 2rem;
    --card-padding:1.8rem;
    --padding-1:1.2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem
    
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --ubuntu-font-family: 'Ubuntu', sans-serif;
    --poppins-font-family: 'Poppins', sans-serif;


}



/* DARK THEME VARAIBLES */
.dark-theme-variables {
--color-newbackground: #181ale;
--color-newwhite: #202528;
--color-newdark: #edeffd;
--color-newdark-variant: #a3bdcc;
--color-newlight: Orgba(0, 0, 0, 0.4);
--box-shadow: 0 2rem 3rem var (--color-light);
}

*{
   margin: 0;
   padding: 0;
   outline: 0;
   appearance: none;
   border: 0;
   text-decoration: none;
   box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    /* font-family: var(--poppins-font-family); */
    font-family: var(--ubuntu-font-family);
    font-size: 0.88rem;
    background: #eeeff1; 
    user-select: none;
    overflow-x: hidden;
    /* color: var(--color-newwhite); */
}

.loadingSection{
    position: absolute;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.farmerOrderTable{
	background-color: var(--color-newdark-variant);
	width: 800px;
	padding: 4rem;
	border-radius: 1rem;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.GuestPage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Guest Page */

.homepage {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("../src/component/image/carousel-1.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
    margin-left: -16rem;
    color: #edeffd;
  }
  .homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homepage .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .homepage .content .text p{
    color: #fff;

  }
  .content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  .content a:hover {
    color: #fff;
    background: rgba(255,255,255,0.3);
  }




